In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
primary = pd.read_csv('primary_results.csv')

In [3]:
primary.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [5]:
county = pd.read_csv('county_facts.csv')

In [6]:
county.tail()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
3190,56037,Sweetwater County,WY,45010,43806,2.7,43806,7.3,27.0,9.5,...,3.8,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3191,56039,Teton County,WY,22930,21294,7.7,21294,5.7,19.1,12.2,...,3.3,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3192,56041,Uinta County,WY,20904,21118,-1.0,21118,7.6,29.8,11.0,...,2.2,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3193,56043,Washakie County,WY,8322,8533,-2.5,8533,5.5,23.9,20.1,...,0.0,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3194,56045,Weston County,WY,7201,7208,-0.1,7208,6.5,21.6,18.1,...,0.0,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

In [7]:
county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 54 columns):
fips                  3195 non-null int64
area_name             3195 non-null object
state_abbreviation    3143 non-null object
PST045214             3195 non-null int64
PST040210             3195 non-null int64
PST120214             3195 non-null float64
POP010210             3195 non-null int64
AGE135214             3195 non-null float64
AGE295214             3195 non-null float64
AGE775214             3195 non-null float64
SEX255214             3195 non-null float64
RHI125214             3195 non-null float64
RHI225214             3195 non-null float64
RHI325214             3195 non-null float64
RHI425214             3195 non-null float64
RHI525214             3195 non-null float64
RHI625214             3195 non-null float64
RHI725214             3195 non-null float64
RHI825214             3195 non-null float64
POP715213             3195 non-null float64
POP645213             3195 non-null float64
POP815213             3195 non-null float64
EDU635213             3195 non-null float64
EDU685213             3195 non-null float64
VET605213             3195 non-null int64
LFE305213             3195 non-null float64
HSG010214             3195 non-null int64
HSG445213             3195 non-null float64
HSG096213             3195 non-null float64
HSG495213             3195 non-null int64
HSD410213             3195 non-null int64
HSD310213             3195 non-null float64
INC910213             3195 non-null int64
INC110213             3195 non-null int64
PVY020213             3195 non-null float64
BZA010213             3195 non-null int64
BZA110213             3195 non-null int64
BZA115213             3195 non-null float64
NES010213             3195 non-null int64
SBO001207             3195 non-null int64
SBO315207             3195 non-null float64
SBO115207             3195 non-null float64
SBO215207             3195 non-null float64
SBO515207             3195 non-null float64
SBO415207             3195 non-null float64
SBO015207             3195 non-null float64
MAN450207             3195 non-null int64
WTN220207             3195 non-null int64
RTN130207             3195 non-null int64
RTN131207             3195 non-null int64
AFN120207             3195 non-null int64
BPS030214             3195 non-null int64
LND110210             3195 non-null float64
POP060210             3195 non-null float64
dtypes: float64(32), int64(20), object(2)
memory usage: 1.3+ MB

In [9]:
county_dict = pd.read_csv('county_facts_dictionary.csv')

In [10]:
county_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [11]:
df = pd.merge(primary, county, how='left', on='fips')

In [12]:
df.head()

,state,state_abbreviation_x,county,fips,party,candidate,votes,fraction_votes,area_name,state_abbreviation_y,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0

In [14]:
df.drop('state_abbreviation_y', axis=1, inplace=True)

In [19]:
df.rename(columns={'state_abbreviation_x': 'state_abbreviation'}, inplace=True)

In [21]:
pd.__version__

u'0.20.3'

In [22]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,area_name,PST045214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001,Democrat,Bernie Sanders,544,0.182,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001,Democrat,Hillary Clinton,2387,0.800,Autauga County,55395.0,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Baldwin,1003,Democrat,Bernie Sanders,2694,0.329,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
3,Alabama,AL,Baldwin,1003,Democrat,Hillary Clinton,5290,0.647,Baldwin County,200111.0,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
4,Alabama,AL,Barbour,1005,Democrat,Bernie Sanders,222,0.078,Barbour County,26887.0,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0

In [23]:
county_dict.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [24]:
county_dict.set_index('column_name', inplace=True)

In [26]:
county_dict.loc['MAN450207']

description    Manufacturers shipments, 2007 ($1,000)
Name: MAN450207, dtype: object

In [33]:
df[df['fips'].isnull()].head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,area_name,PST045214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
14587,New Hampshire,NH,Belknap,NaN,Democrat,Bernie Sanders,5990,0.631857,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14588,New Hampshire,NH,Belknap,NaN,Democrat,Hillary Clinton,3490,0.368143,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14589,New Hampshire,NH,Carroll,NaN,Democrat,Bernie Sanders,5655,0.636466,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14590,New Hampshire,NH,Carroll,NaN,Democrat,Hillary Clinton,3230,0.363534,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14591,New Hampshire,NH,Cheshire,NaN,Democrat,Bernie Sanders,12471,0.707093,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.duplicated().sum()

0

In [37]:
df.dropna(axis=0, subset=['fips'], inplace=True)

In [38]:
df[df['fips'].isnull()].head()

Empty DataFrame
Columns: [state, state_abbreviation, county, fips, party, candidate, votes, fraction_votes, area_name, PST045214, PST040210, PST120214, POP010210, AGE135214, AGE295214, AGE775214, SEX255214, RHI125214, RHI225214, RHI325214, RHI425214, RHI525214, RHI625214, RHI725214, RHI825214, POP715213, POP645213, POP815213, EDU635213, EDU685213, VET605213, LFE305213, HSG010214, HSG445213, HSG096213, HSG495213, HSD410213, HSD310213, INC910213, INC110213, PVY020213, BZA010213, BZA110213, BZA115213, NES010213, SBO001207, SBO315207, SBO115207, SBO215207, SBO515207, SBO415207, SBO015207, MAN450207, WTN220207, RTN130207, RTN131207, AFN120207, BPS030214, LND110210, POP060210]
Index: []

[0 rows x 60 columns]